* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  background: #e2e8f0;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}
